<div class="post" id="post-<= post.id %>">
  <div class="post-title"><%= link_to post.title, post %></div>
  <% if post.published? %>
  <div class="post-summary markdown">
    <%= simple_format post.summary %>
  </div>
  <div class="post-info">
    <%= user_name_tag(post.user) %> ·
    <%= timeago(post.created_at) %> ·
    <%= link_to "#{post.likes_count} 个赞", post %> ·
    <%= link_to "#{post.comments_count} 条评论", post_path(post, anchor: 'comments') %>
  </div>
  <% end %>
</div>
