<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div id="post-detail" class="panel panel-default">
      <div class="panel-body">
        <h1><%= @post.title %></h1>
        <div class="post-info">
          <%= timeago @post.published_at %> 作者: <%= user_avatar_tag(@post.user, :sm)%> <%= user_name_tag(@post.user) %>
        </div>
        <div class="post-body markdown">
          <%= markdown @post.body %>
        </div>

        <%= render "/shared/comments", commentable: @post %>
      </div>
    </div>
  </div>
</div>
