<% title_tag @post.title %>

<div id="post-detail" class="panel panel-default">
  <div class="panel-body">
    <div class="post-opts">
      <% if can?(:update, @post) %>
      <%= link_to '编辑', edit_post_path, class: 'btn btn-sm btn-default' %>
      <% end %>

      <% if can?(:publish, @post) && @post.upcoming? %>
      <%= link_to '审核通过', publish_post_path, method: 'put', class: 'btn btn-sm btn-success' %>
      <% end %>

      <% if can?(:destroy, @post) && @post.upcoming? %>
      <%= link_to '删除', @post, method: 'delete', class: 'btn btn-sm btn-danger', data: { confirm: "确定要删除么？" } %>
      <% end %>
    </div>
    <h1><%= @post.title %></h1>
    <div class="post-info">
      <%= user_name_tag(@post.user) %> ·
      <%= timeago @post.created_at %> ·
      <%= @post.hits %> 次阅读 ·
      <a href="#comments"><%= @post.comments_count %> 条评论</a>
    </div>
    <div class="post-body markdown">
      <%= markdown @post.body %>
    </div>
    <div class="post-actions">
      <%= likeable_tag(@post, class: 'btn btn-lg btn-default') %>
    </div>
  </div>
</div>

<div id="comments">
  <%= render "/shared/comments", commentable: @post %>
</div>
